<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <title>Formulário</title>
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>
  <div class="container">
    <h1>Formulário de solicitação</h1>

    <form action="/forms/request" method="post">
      
      <div>
        <label>Nome:</label>
        <input type="text" name="nome" required>
      </div>

      <div>
        <label>Assunto:</label>
        <input type="text" name="assunto" required>
      </div>

      <div>
        <label>Descrição:</label>
        <textarea name="descricao"></textarea>
      </div>

      <div>
        <label>Data:</label>
        <input type="date" name="data">
      </div>

      <button type="submit">Salvar solicitação</button>
    </form>

    <a href="/">Voltar</a>
  </div>
</body>